@using System.Collections.Generic;
@using Newtonsoft.Json;
@{
    Page.Title = "Agregar Sistemas";
    Layout = "~/_Layout.cshtml";
    string msgError = "";
    wsServicio.Service1 obj = new wsServicio.Service1();


    var lstEstados = JsonConvert.DeserializeObject<List<dynamic>>(obj.getEstados("0"));
    var lstUnidades = JsonConvert.DeserializeObject<List<dynamic>>(obj.getUnidades("0"));

    if (IsPost)
    {
        string nombre = Request.Form["nombre"];
        string idEstado = Request.Form["idestado"];
        string idUnidad = Request.Form["idunidad"];

        var result = JsonConvert.DeserializeObject<List<dynamic>>(obj.CrearSistema(nombre, idEstado, idUnidad));

        //Response.Redirect("/Mantenimientos/Sistemas/Sistemas.cshtml");

        if (result[0].ToString().Equals("Exito: Sistema creado"))
        {
            msgError = "";
            Response.Redirect("/Mantenimientos/Sistemas/Sistemas.cshtml");
        }
        else
        {
            msgError = "Error al crear Sistema: " + result[0].ToString();
        }
    }
}
<div class="container">
    <form method="post" style="margin-top: 30px;">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <h3>Nuevo Sistema</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" placeholder="Nombre del Sistema" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idSistema">Estado</label>
            <div class="col-sm-5">
                <select id="idestado" name="idestado" class="selectpicker form-control">
                    @foreach (var row in lstEstados)
                    {
                        <option value="@row.id">@row.nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="idSistema">Unidad</label>
            <div class="col-sm-5">
                <select id="idunidad" name="idunidad" class="selectpicker form-control">
                    @foreach (var row in lstUnidades)
                    {
                        <option value="@row.id">@row.nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a href="~/Mantenimientos/Sistemas/Sistemas.cshtml" class="btn btn-link" role="button">Cancelar</a>
            </div>
        </div>

    </form>
</div>
